/* Login */
#loginButton {
  margin: 1.5rem 0
}
footer img {
  border-radius: 50%;
  width: 40px;
  margin: 4px 6px 4px 10px;
  border: 1px solid #326be6;
}
footer p {
  margin-right: 2rem;
}
footer a {
  color: #eee;
  cursor: pointer;
  outline: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

/* Authorization */
.auth-button {
  background-color: #2557bd;
  color: #eee;
  padding: 0.75rem 1.25rem;
  margin: 1rem;
  cursor: pointer;
}
.auth-button:hover {
  background-color: #326be6;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
